.pip {
  width: 17px;
  height: 17px;
  margin: 7px;
  background-color: #525252;
  border-radius: 100%;
  transition: all 0.3s ease-in;
}

.pip--on {
  background-color: #48d8b8;
  transform: scale(1.1);
}

.clock {
  display: flex;
}

.binary-digit-group {
  display: flex;
  margin: 0 6px;
}
